PORT=5000
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=notes_db
JWT_ACCESS_SECRET=default_jwt_access_secret_key_change_in_prod
JWT_REFRESH_SECRET=default_jwt_refresh_secret_key_change_in_prod
SMTP_HOST=mailpit
SMTP_PORT=1025
FRONTEND_URL=http://localhost:3000
